body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c3e50;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 24px;
  flex-direction: column;
  background-image: url("img/background.png");
  font-family: "Roboto", sans-serif;
}

/*==================== Welcome ====================*/

#welcomeScreen {
  opacity: 1;
  transition: opacity 1s;
}

#welcomeScreen.hide {
  opacity: 0;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ecf0f1;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #34495e;
  border-radius: 5px;
  background-color: #34495e;
  color: #ecf0f1;
  font-size: 18px;
}

#startButton {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: #c0392b;
}

/*==================== Game ====================*/

#startScreen {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

#startScreen.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

#gameContainer {
  display: none;
  position: relative;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 2px solid white;
}

.scoreboard {
  position: absolute;
  top: -30px;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.player-names {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #e74c3c;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.player-name {
  width: 45%;
  text-align: center;
}

/*==================== Loading Circle ====================*/
#loading-screen {
  background-color: #242527;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
